$color-primary: #0074d9;
$color-secondary: #7fdbff;
$color-tertiary: #39cccc;

$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-size-base: 16px;
$font-family-base: 'League Spartan', 'Arial', sans-serif;

$color-primary: hsl(180, 29%, 50%);
$color-secondary: hsl(180, 8%, 52%);
$color-background-body: hsl(180, 52%, 96%);
$color-background-header: hsl(180, 38%, 56%);

$color-shadow: hsla(189, 81%, 28%, 15%);
$color-almost-black: hsl(180, 14%, 20%);

$font-weight-base: 500;
$font-weight-bold: 700;
